<% layout('layouts/boilerplate')%>

    <div class="container justify-content-center align-items-center mt-5 mb-5">
        <div class="row">
            <div class="col-md-6 offset-md-3 col-xl-4 offset-xl-4">
                <div class="card shadow">
                    <img src="https://images.unsplash.com/photo-1496438164591-c1fdd6e4b8cf?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80"
                        alt="Campground Image" class="card-img-top">
                    <div class="card-body">
                        <h5 class="card-title text-center">Log In</h5>
                        <form class="novalidated-form mb-5" action="/login" method="POST" novalidate>
                            <div class="mb-3">
                                <label class="form-label" for="username">Username</label>
                                <input class="form-control" type="text" name="username" id="username" autofocus
                                    required>
                            </div>

                            <div class="mb-3">
                                <label class="form-label" for="password">Password</label>
                                <input class="form-control" type="password" name="password" id="password" required>
                            </div>
                            <div class="d-grid gap-2">
                                <button class="btn btn-info text-white">Log In</button>
                            </div>
                        </form>
                        <div class="container justify-content-center align-items-center">
                            <div class="row">
                                <div class="col-6 offset-3">
                                    <form action="/register" method="get">
                                        <label class="form-label" for="register">Do not have an account?</label>
                                        <div class="d-grid gap-2">
                                            <button class="btn btn-secondary">Register</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>