<% layout('layouts/boilerplate')%>

    <div class="container justify-content-center align-items-center mt-5 mb-5">
        <div class="row">
            <div class="col-md-6 offset-md-3 col-xl-4 offset-xl-4">
                <div class="card shadow">
                    <img src="https://farm6.staticflickr.com/5567/14956573106_eb231a7412_o.jpg" class="card-img-top">
                    <div class="card-body">
                        <h5 class="card-title text-center">Register</h5>
                        <form class="novalidated-form mb-5" action="/register" method="POST" novalidate>
                            <div class="mb-3">
                                <label class="form-label" for="username">Username</label>
                                <input class="form-control" type="text" name="username" id="username" autofocus
                                    required>
                            </div>
                            <div class="mb-3">
                                <label class="form-label" for="email">Email</label>
                                <input class="form-control" type="email" name="email" id="email" required>
                                <div class="valid-feedback">Looks Good!</div>
                            </div>
                            <div class="mb-3">
                                <label class="form-label" for="password">Password</label>
                                <input class="form-control" type="password" name="password" id="password" required>
                            </div>
                            <div class="d-grid gap-2">
                                <button class="btn btn-info text-white">Register</button>
                            </div>
                        </form>
                        <div class="container justify-content-center align-items-center">
                            <div class="row">
                                <div class="col-6 offset-3">
                                    <form action="/login" method="get">
                                        <label class="form-label" for="register">Already have an account?</label>
                                        <div class="d-grid gap-2">
                                            <button class="btn btn-secondary">Log In</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>